[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
	ignore = dirty
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
	ignore = dirty
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule "bundle/easyalign"]
	path = bundle/easyalign
	url = https://github.com/junegunn/vim-easy-align.git
	ignore = dirty
[submodule "bundle/fswitch"]
	path = bundle/fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
	ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/objc"]
	path = bundle/objc
	url = https://github.com/b4winckler/vim-objc.git
	ignore = dirty
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
	ignore = dirty
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
	ignore = dirty
[submodule "bundle/unite-outline-objc"]
	path = bundle/unite-outline-objc
	url = https://github.com/ryotakato/unite-outline-objc.git
	ignore = dirty
[submodule "bundle/unite-tag"]
	path = bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag.git
	ignore = dirty
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
	ignore = dirty
[submodule "bundle/processing"]
	path = bundle/processing
	url = https://github.com/sophacles/vim-processing.git
	ignore = dirty
[submodule "bundle/colorscheme-candyvirus"]
	path = bundle/colorscheme-candyvirus
	url = https://github.com/ercolanelli-leo/candyVirus.git
[submodule "bundle/dkg"]
	path = bundle/dkg
	url = https://github.com/davidgranstrom/vim-dkg.git
